.head {
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 28px;
    height: 180px;

}

.headimage {
    position: absolute;
    top: -20px;
    bottom: 0;
    right: 0px;
    left: -80px;
    width: 110%;
    height: 187px;
}

.editIconP {
    color: #EA9F3F;
    text-align: right;
    font-family: "Omnes Arabic";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    /* 162.5% */
    letter-spacing: -0.408px;
}

.editIcon3bkr {
    position: absolute;
    top: 0px;
    bottom: 0;
    right: 0;
    left: -35px;
}

.P3bkr {
    color: var(--Yellow, #FFD200);
    text-align: center;
    text-shadow: 0px 4px 0px #000;
    -webkit-text-stroke-width: 2;
    -webkit-text-stroke-color: #000;
    font-family: "Ala Typoo Medium";
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    /* 34.375% */
    letter-spacing: -0.408px;
    width: 84px;
    height: 50px;
    flex-shrink: 0;
}

.computer {

    font-family: "AA-GALAXY";
    font-size: 60px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.40799999237060547px;
    text-align: center;
    color: #fff;
    text-shadow: -3px 4px 0px #000, -3px 1px 0px #000;


}

@media only screen and (max-width: 900px) {
    .head {
        width: 100vw;
        overflow: hidden !important;
    }

    .headimage {
        position: absolute;
        top: -20px;
        bottom: 0;
        right: 0;
        left: -20px;
        width: 110%;
        height: 187px;
    }

    body {
        overflow-x: hidden;
    }
}

/* /////////////////////////////////////////////////////////////////////////////////////////////// */

.videoParagraph {
    font-family: "Omnes Arabic";
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: -0.40799999237060547px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.videocontent {
    position: relative;
    background-color: #1FCC7B;
    border: 2px solid #000;
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 1);

}

.video {
    border: 2px solid #000;
    border-radius: 15px;
}

.videoIcon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--Yellow, #FFD200);
    position: absolute;
    top: -16px;
    left: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Omnes Arabic";
    font-size: 38px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: -0.40799999237060547px;
    text-align: center;
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 1);
    border: 2px solid #000;
}

.note {
    background: linear-gradient(0deg, #F9295A, #F9295A),
        linear-gradient(0deg, #000000, #000000);
        text-align: center;
        box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 1);
        border: 2px solid #000;
        height: 60px;
        

}
.noteParagraph{
font-family: "Omnes Arabic";
font-size: 20px;
font-weight: 600;
line-height: 26px;
letter-spacing: -0.40799999237060547px;
text-align: center;
color: rgba(255, 255, 255, 1);

}