.body {
	background-color: #fffaed;
}
.header {
	position: relative;
	z-index: 1;
	height: 187px;
}

.image {
	position: absolute;
	flex-shrink: 0;
	fill: var(--Background, #fffaed);
	stroke-width: 8px;
	stroke: var(--Green, #1fcc7b);
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 215px;
	top: -30px;
}
.title {
	color: #ffffff;
	text-align: center;

	/* Main shadow */
	font-family: "AA-GALAXY";
	font-size: 60px;
	font-style: normal;
	font-weight: 600;
	line-height: 0px;
	letter-spacing: -0.408px;
	z-index: 10;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	--s: 2.5px;
	text-shadow: 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000,
		0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000,
		0 4px var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
		0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
		0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
		0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
		0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
		0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
		0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
		0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
		0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
		0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
		0 0 var(--s) #000, 0 0 var(--s) #000;
}
.arr {
	z-index: 10;
	position: absolute;
	left: 4%;
	top: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}
/* ------------------------------------------------------ */

.logo {
	flex-shrink: 0;
	position: relative;
	z-index: 2;
}
.vector {
	width: 267px;
	height: 272.976px;
	flex-shrink: 0;
}
.nerd {
	width: 170px;
	height: 183.619px;
	flex-shrink: 0;
	text-align: center;
	position: absolute;
	z-index: 3;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.content {
	color: #000;
	text-align: center;
	font-family: "Omnes Arabic";
	font-size: 56px;
	font-style: normal;
	font-weight: 600;
	line-height: 26px; /* 46.429% */
	letter-spacing: -0.408px;
	margin-top: 20px;
	padding-top: 15px;
}
.score_text {
	color: #000;
	text-align: center;
	font-family: "Omnes Arabic Semi Bold";
	font-size: 56px;
	font-style: normal;
	font-weight: 600;
	line-height: 26px; /* 46.429% */
	letter-spacing: -0.408px;
}
.score {
	color: #fff;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 20px;
	/* Main shadow */
	font-family: "AA-GALAXY";
	font-size: 104px;
	font-style: normal;
	font-weight: 700;
	line-height: 22px; /* 21.154% */
	letter-spacing: -0.408px;
	margin-top: 5px;
	--s: 2.5px;
	text-shadow: 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000,
		0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000,
		0 4px var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
		0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
		0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
		0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
		0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
		0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
		0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
		0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
		0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
		0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
		0 0 var(--s) #000, 0 0 var(--s) #000;
}
.buttons {
	gap: 15px;
	padding: 16px;
	display: grid;
	justify-content: center;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto;
}
.btn1,
.btn2,
.btn3 {
	width: 235px;
	height: 48px;
	flex-shrink: 0;
	border-radius: 14px;
	border: 2px solid #000;

	/* Main shadow */
	box-shadow: 0px 4px 0px 0px #000;
}
.btn2 {
	width: 235px;
	height: 48px;
	flex-shrink: 0;
	border-radius: 14px;
	border: 2px solid #000;

	/*Mainshadow*/
	box-shadow: 0px 4px 0px 0px #000;
}
.btn1 {
	background: #f9295a;
}
.btn2 {
	background: #1fcc7b;
}
.btn3 {
	background: #00dcea;
}
.btn_text {
	/* width: 224px;
	height: 22px; */
	flex-shrink: 0;
	color: #fff;
	text-align: center;
	font-family: "Omnes Arabic Semi Bold";
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: 22px; /* 68.75% */
	letter-spacing: -0.408px;
	padding-top: 5px;
}
/* ---------------------------Media queries--------------------- */
@media only screen and (max-width: 500px) {
	.title {
		font-size: 34px;
		letter-spacing: 0px;
		line-height: 50px;
	}
	.arr {
		width: 36px;
		height: 36px;

		left: 5%;
		margin-right: 3px;
	}

	.vector {
		width: 233px;
		height: 239.976px;
	}
	.nerd {
		width: 150.619px;
		height: 150.619px;
	}
	.content {
		padding-bottom: 15px;
	}
	.score_text {
		font-size: 50px;
	}
	.buttons {
		grid-template-rows: auto auto auto;
		grid-template-columns: auto;
	}
}
@media only screen and (max-width: 920px) {
	.title {
		font-size: 45px;
		letter-spacing: 0px;
	}

	.content {
		padding-bottom: 15px;
	}
	.buttons {
		flex: none;
		display: grid;
		justify-content: center;
	}
	.score {
		padding-bottom: 5px;
	}
	.buttons {
		grid-template-rows: auto auto auto;
		grid-template-columns: auto;
	}
}
@media only screen and (max-width: 405px) {
	.score_text {
		font-size: 45px;
		line-height: 70px;
	}
	.score {
		font-size: 70px;
		padding-top: 0;
	}
	.logo {
		margin-bottom: 0;
	}
}
@media only screen and (max-width: 330px) {
	.score_text {
		font-size: 45px;
		line-height: 70px;
	}
}
@media only screen and (max-width: 969px) {
	.title {
		font-size: 45px;
		letter-spacing: 0px;
		/* line-height: 40px; */
	}
}
@media only screen and (min-width: 670px) {
	.title {
		font-size: 60px;
	}
}
@media only screen and (max-width: 300px) {
	.arr {
		margin-left: 10px;
	}
}
