

.head {
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 28px;
    height: 180px;

}

.headimage {
    position: absolute;
    top: -20px;
    bottom: 0;
    right: 0px;
    left: -80px;
    width: 110%;
    height: 187px;
}

.editIconP {
    color: #EA9F3F;
    font-family: "Omnes Arabic Bold";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -0.408px;
}

.pointerIcon {
    cursor: pointer;
}

/*  */



.moreLearning {
margin-bottom: 20px;
    font-family: "AA-GALAXY";
    font-size: 60px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.4px;
    color: #fff;
    --s:3px;
  text-shadow: 
   0 4px var(--s) #000, 
   0 4px var(--s) #000, 
   0 4px var(--s) #000, 
   0 4px var(--s) #000, 
   0 4px var(--s) #000, 
   0 4px var(--s) #000, 
   0 4px var(--s) #000, 
   0 0 var(--s) #000, 
   0 0 var(--s) #000, 
   0 0 var(--s) #000, 
   0 0 var(--s) #000, 
   0 0 var(--s) #000,
   0 0 var(--s) #000, 
   0 0 var(--s) #000;
}

@media only screen and (max-width: 900px) {
    .head {
        width: 100%;
        overflow: hidden !important;
    }

    .headimage {
        position: absolute;
        top: -20px;
        bottom: 0;
        right: 0;
        left: -20px;
        width: 106%;
        height: 187px;
    }

    body {
        overflow-x: hidden;
    }
}
/* 
@media screen and (max-width: 440px) {
    .moreLearning {
        font-size: 25px;
    }

    .videoIcon {
        width: 35px !important;
        margin-left: 10px;
    }
} */
/* ////////////////////////////////////////////////////////////////////////////////////// */
/*                            learnContainer                                */
.learnContainer{
    direction: rtl;
    width: 75% !important;
}
.learnAdress{
    font-family: "Omnes Arabic Semi Bold";
font-size: 32px;
font-weight: 600;
line-height: 26px;
letter-spacing: -0.40799999237060547px;
color: rgba(0, 0, 0, 1);

}
.abuotLearn{
    font-family: "Omnes Arabic Medium";
font-size: 20px;
font-weight: 500;
line-height: 36px;
letter-spacing: -0.40799999237060547px;
text-align: right;
margin: 0;
margin-left: 50px;

}
.learnBtnDirection1 {
    background: rgba(31, 204, 123, 1) !important;
    font-family: "Omnes Arabic";
    font-size: 32px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.40799999237060547px;
    text-align: center;
    color: rgba(255, 255, 255, 1) !important;
    width: 112px;
    height: 48px;
    /* top: 711px; */
    border: 2px solid rgba(0, 0, 0, 1);
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 1);
    border-radius: 14px;
    margin-left: 20px;
}
.learnBtnDirection2 {
    background: rgba(249, 41, 90, 1);
    font-family: "Omnes Arabic";
    font-size: 32px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.40799999237060547px;
    text-align: center;
    color: rgba(255, 255, 255, 1) !important;
    width: 112px;
    height: 48px;
    top: 711px;
    border: 2px solid rgba(0, 0, 0, 1);
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 1);
    border-radius: 14px;
}
/* /////////////////////////////////////////////////////////////////////////////////// */
/*                                    media screen                            */

@media screen and (max-width:380px) {
    .learnAdress{
        font-size: 20px;
    }
    .abuotLearn{
        font-size: 20px;
        margin: 0;
    }
    .moreLearning {
        font-size: 25px;
    }

    .videoIcon {
        width: 35px !important;
        margin-left: 10px;
    }
    .learnContainer{
        width: 100% !important;
    }
}
@media screen and (min-width:381px) and (max-width:400px) {
    .learnAdress{
        font-size: 25px;
    }
    .abuotLearn{
        font-size: 20px;
        margin: 0;
    }
    .moreLearning {
        font-size: 25px;
    }
    .learnContainer{
        width: 100% !important;
    }

    .videoIcon {
        width: 35px !important;
        margin-left: 10px;
    }
}
@media screen and (min-width:401px) and (max-width:440px) {
    .learnAdress{
        font-size: 26px;
        
    }
    .abuotLearn{
        font-size: 24px;
        margin: 0;
    }
    .moreLearning {
        font-size: 30px;
    }
    .learnContainer{
        width: 100% !important;
    }

    .videoIcon {
        width: 35px !important;
        margin-left: 10px;
    }
}
@media screen and (min-width:441px) and (max-width:560px) {
    .learnAdress{
        font-size: 34px;
    }
    .abuotLearn{
        font-size: 28px;
        margin: 0;
    }
    .moreLearning {
        font-size: 48px;
    }
    .learnContainer{
        width: 100% !important;
    }

    .videoIcon {
        width: 40px !important;
        margin-left: 10px;
    }
}
@media screen and (min-width:561px) and (max-width:880px) {
    .learnAdress{
        font-size: 38px;
    }
    .abuotLearn{
        font-size: 32px;
        margin: 0;
    }
    .learnContainer{
        width: 100% !important;
    }
}