
.setting{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100000;
    background: #000000BF;

}
.settingTitle{
    font-family: "Omnes Arabic Medium";
font-size: 40px;
font-weight: 600;
line-height: 26px;
letter-spacing: -0.40799999237060547px;
text-align: center;
color: #FFFFFF;
border: 6px solid #00DCEA;
width: 333px;
height: 78px;
display: flex;
padding-top: 10px;
justify-content: center;
border-radius: 20px;
position: relative;
}
.settingContent{
position: absolute;
width: 407px;
height: 193px;
border-radius: 20px;
border: 6px solid #00dcea;
background: #FFFAED;
top: 55px;
display: flex;
flex-direction: column;
align-items: center;
}
.settingPassword{
    width: 371px;
height: 65px;
top: 358px;
left: 534px;
border-radius: 20px;
background: #DDDDDD;
border: 6px solid #00DCEA;
margin-top: 16px;
font-family: "Omnes Arabic";
font-size: 48px;
font-weight: 500;
line-height: 22px;
letter-spacing: -0.40799999237060547px;
padding:0 20px;

}
.settingBtn{
width: 369px;
height: 65px;
border-radius: 20px;
background: #00DCEA;
outline: none;
border: none;
margin-top: 20px;
font-family: "Omnes Arabic Semi Bold";
font-size: 40px;
font-weight: 600;
line-height: 26px;
letter-spacing: -0.40799999237060547px;
text-align: center;
color: #fff;


}

.head {
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 28px;
    height: 180px;

}

.headimage {
    position: absolute;
    top: -20px;
    bottom: 0;
    right: 0px;
    left: -80px;
    width: 110%;
    height: 187px;
}

.editIconP {
    color: #EA9F3F;
    text-align: right;
    font-family: "Omnes Arabic Bold";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    /* 162.5% */
    letter-spacing: -0.408px;
}

.pointerIcon {
    cursor: pointer;
}

.editIcon3bkr {
    position: absolute;
    top: 0px;
    bottom: 0;
    right: 0;
    left: -35px;
}



.watchVideo {

    font-family: "AA-GALAXY";
    font-size: 60px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.4px;
    text-align: center;
    color: #fff;
    --s: 2.5px;
    text-shadow:
        0 4px var(--s) #000,
        0 4px var(--s) #000,
        0 4px var(--s) #000,
        0 4px var(--s) #000,
        0 4px var(--s) #000,
        0 4px var(--s) #000,
        0 4px var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000;



}

@media only screen and (max-width: 900px) {
    .head {
        /* width: 100vw; */
        overflow: hidden !important;
    }

    .headimage {
        position: absolute;
        top: -20px;
        bottom: 0;
        right: 0;
        left: -20px;
        width: 106%;
        height: 187px;
    }

    body {
        overflow-x: hidden;
    }
}

@media screen and (max-width: 440px) {
    .watchVideo {
        font-size: 30px;
    }

    .videoIcon {
        width: 30px !important;
        margin-left: 10px;
    }

    .editIconP {
        font-size: 14px;
    }
}

/* //////////////////////////////////////////////////////////////////////////////// */

/*                                     video content                                 */



.communityContent {
    direction: rtl;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.communitySite {
    width: 904px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.communityVideo {
    position: relative;
}

.communityFrame {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

.videoParagraph {
    margin-top: 20px;
    align-self: flex-start;
    font-family: "Omnes Arabic Semi Bold";
    font-size: 32px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: -0.40799999237060547px;
    text-align: right;
    margin-bottom: 3rem;

}

.aboutVideoParagraph {
    font-family: "Omnes Arabic Semi Bold";
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.40799999237060547px;
    text-align: right;
    color: #000;
    width: 813px;
    height: 207px;
    top: 619px;
    left: 47px;



}

.aboutVideo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutVideoFrame {
    position: absolute;
    top: -20px;
    z-index: -1;
}

.videoBtn1 {
    background: rgba(31, 204, 123, 1) !important;
    font-family: "Omnes Arabic";
    font-size: 32px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.40799999237060547px;
    text-align: center;
    color: rgba(255, 255, 255, 1) !important;
    width: 112px;
    height: 48px;
    top: 711px;
    border: 2px solid rgba(0, 0, 0, 1);
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 1);
    border-radius: 15px;
    margin-left: 20px;
}

.videoBtn2 {
    background: rgba(249, 41, 90, 1);
    font-family: "Omnes Arabic";
    font-size: 32px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.40799999237060547px;
    text-align: center;
    color: rgba(255, 255, 255, 1) !important;
    width: 112px;
    height: 48px;
    top: 711px;
    border: 2px solid rgba(0, 0, 0, 1);
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 1);
    border-radius: 15px;
}


/* ////////////////////////////////////////////////////////////////////////// */


@media screen and (max-width: 391px) {
    .communitySite {
        width: 380px;

    }

    .iframe {
        width: 400px !important;
        height: 280px !important;

    }

    .communityFrame {
        width: 360px !important;
        top: -110px;
        right: 22px;
    }

    .videoParagraph {
        font-size: 24px;
        margin: 0;
        margin-bottom: 1rem;
    }

    .aboutVideoFrame {
        width: 360px !important;
        top: -82px;
    }

    .aboutVideoParagraph {
        width: 340px;
        font-size: 12px;
        margin: 0;
        line-height: 13px;
        height: 80px;
    }

}

@media screen and (min-width: 392px) and (max-width:440px) {
    .communitySite {
        width: 380px;

    }

    .iframe {
        width: 400px !important;
        height: 280px !important;

    }

    .communityFrame {
        width: 360px !important;
        top: -110px;
        right: 22px;
    }

    .videoParagraph {
        font-size: 24px;
        margin: 0;
        margin-bottom: 1rem;
    }

    .aboutVideoFrame {
        width: 360px !important;
        top: -82px;
    }

    .aboutVideoParagraph {
        width: 340px;
        font-size: 12px;
        margin: 0;
        line-height: 13px;
        height: 80px;
    }

}

@media screen and (min-width: 441px) and (max-width:550px) {
    .communitySite {
        width: 520px;

    }

    .iframe {
        width: 550px !important;
        height: 340px !important;
        

    }

    .communityFrame {
        width:500px !important;
        top: -80px;
        right: 22px;
    }

    .videoParagraph {
        font-size: 32px;
        margin: 0;
        margin-bottom: 3rem;
    }

    .aboutVideoFrame {
        width: 500px !important;
        top: -70px;
    }

    .aboutVideoParagraph {
        width: 475px;
        font-size: 16px;
        margin: 0;
        line-height: 17px;
        height: 100px;
    }


}

@media screen and (min-width: 551px) and (max-width:880px) {
    .communitySite {
        width: 750px;

    }

    .iframe {
        width: 780px !important;
        height: 470px !important;
        

    }

    .communityFrame {
        width:750px !important;
        top: -20px;
        right: 15px;
    }

    .videoParagraph {
        font-size: 32px;
        margin: 0;
        margin-bottom: 3rem;
    }

    .aboutVideoFrame {
        width: 720px !important;
        top: -40px;
    }

    .aboutVideoParagraph {
        width: 680px;
        font-size: 20px;
        margin: 0;
        line-height: 30px;
        height: 180px;
    }


}



