

body {
    overflow-x: hidden !important;
    background-color: var(--window-background) !important
}

.setting{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: #000000BF;

}
.settingTitle{
    font-family: "Omnes Arabic Medium";
font-size: 40px;
font-weight: 600;
line-height: 26px;
letter-spacing: -0.40799999237060547px;
text-align: center;
color: #FFFFFF;
border: 6px solid #00DCEA;
width: 333px;
height: 78px;
display: flex;
padding-top: 10px;
justify-content: center;
border-radius: 20px;
position: relative;
}
.settingContent{
position: absolute;
width: 407px;
height: 193px;
border-radius: 20px;
border: 6px solid #00dcea;
background: #FFFAED;
top: 55px;
display: flex;
flex-direction: column;
align-items: center;
}
.settingPassword{
    width: 371px;
height: 65px;
top: 358px;
left: 534px;
border-radius: 20px;
background: #DDDDDD;
border: 6px solid #00DCEA;
margin-top: 16px;
font-family: "Omnes Arabic";
font-size: 48px;
font-weight: 500;
line-height: 22px;
letter-spacing: -0.40799999237060547px;
padding:0 20px;

}
.settingBtn{
width: 369px;
height: 65px;
border-radius: 20px;
background: #00DCEA;
outline: none;
border: none;
margin-top: 20px;
font-family: "Omnes Arabic Semi Bold";
font-size: 40px;
font-weight: 600;
line-height: 26px;
letter-spacing: -0.40799999237060547px;
text-align: center;
color: #fff;


}
/* head content bar */

.head {
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 28px;
    height: 180px;

}

.headimage {
    position: absolute;
    top: -20px;
    bottom: 0;
    right: 0px;
    left: -80px;
    width: 110%;
    height: 187px;
}

.editIconP {
    color: #EA9F3F;
    text-align: right;
    font-family: "Omnes Arabic Bold";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    /* 162.5% */
    letter-spacing: -0.408px;
}
.editIcon{
    cursor: pointer;
}

.editIcon3bkr {
    position: absolute;
    top: 0px;
    bottom: 0;
    right: 0;
    left: -35px;
}

.P3bkr {
    color: var(--Yellow, #FFD200);
    text-align: center;
    font-family: "Ala Typoo Medium";
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    /* 34.375% */
    letter-spacing: -0.408px;
    width: 84px;
    height: 50px;
    flex-shrink: 0;
    --s:3px;
    text-shadow: 
     0 4px var(--s) #000, 
     0 4px var(--s) #000, 
     0 4px var(--s) #000, 
     0 4px var(--s) #000, 
     0 4px var(--s) #000, 
     0 4px var(--s) #000, 
     0 4px var(--s) #000, 
     0 0 var(--s) #000, 
     0 0 var(--s) #000, 
     0 0 var(--s) #000, 
     0 0 var(--s) #000, 
     0 0 var(--s) #000, 
     0 0 var(--s) #000;
}

@media only screen and (max-width: 900px) {
    .head {
        width: 100vw;
        overflow: hidden !important;
    }

    .headimage {
        position: absolute;
        top: -20px;
        bottom: 0;
        right: 0;
        left: -20px;
        width: 100%;
        height: 187px;
        overflow: hidden;
    }

    
}

/* ///////////////////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////////// انا الكمبيوتر     //////////////////////////////////////// */
.computer {
   
    font-family: "AA-GALAXY";
    font-size: 60px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.40799999237060547px;
    text-align: center;
    color: #fff;
    --s: 2.5px;
    text-shadow:
        0 4px var(--s) #000,
        0 4px var(--s) #000,
        0 4px var(--s) #000,
        0 4px var(--s) #000,
        0 4px var(--s) #000,
        0 4px var(--s) #000,
        0 4px var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000,
        0 0 var(--s) #000;

}
.computerParagraph{
font-family: "Omnes Arabic Medium";
font-size: 24px;
font-weight: 600;
line-height: 26px;
letter-spacing: -0.40799999237060547px;
color: rgba(0, 0, 0, 1);

}
.direction{
    direction: rtl;
}
.computerParagraph2{
font-family: "Omnes Arabic Bold";
font-size: 28px;
font-weight: 700;
line-height: 26px;
letter-spacing: -0.40799999237060547px;
color: rgba(0, 0, 0, 1);
margin: 40px 0px;
}
.rowparagraph{
    font-family: "Omnes Arabic Medium";
font-size: 24px;
font-weight: 600;
line-height: 26px;
letter-spacing: -0.40799999237060547px;
text-align: right;
margin-right: 250px;
}
.rowparagraph2{
    font-family: "Omnes Arabic Medium";
font-size: 24px;
font-weight: 600;
line-height: 26px;
letter-spacing: -0.40799999237060547px;
text-align: right;
margin-right: 20px;

}
.btn{
font-family: "Omnes Arabic Semi Bold";
font-size: 32px;
font-weight: 600;
line-height: 22px;
letter-spacing: -0.40799999237060547px;
text-align: center;
color: rgba(255, 255, 255, 1) ;
background: linear-gradient(0deg, #1FCC7B, #1FCC7B),
linear-gradient(0deg, #000000, #000000);
border: 2px solid #000000;
width: 137px;
height: 48px;
border-radius: 14px;
box-shadow: 0px 4px 0px 0px #000000;


}

@media screen and (max-width: 912px) {
    .rowparagraph{
        font-size: 20px;
        margin-right: 0px;
    text-align: right;
    }
    .rowparagraph2{
        font-size: 20px;
    }
}







































@media only screen and (max-width: 900px) {
    .head {
        width: 100vw;
        overflow: hidden !important;
    }

    .headimage {
        position: absolute;
        top: -20px;
        bottom: 0;
        right: 0;
        left: -20px;
        width:110%;
        height: 187px;
    }
    body{
        overflow-x: hidden;
    }
}
@media only screen and (max-width: 990px) {
    .rowparagraph{
        text-align: center;
    }
    .rowparagraph2{
        text-align: center;
    }
}
