.body {
	background-color: #fffaed;
}

.header {
	position: relative;
	z-index: 1;
	height: 187px;
}

.img {
	position: absolute;
	flex-shrink: 0;
	fill: var(--Background, #fffaed);
	stroke-width: 8px;
	stroke: var(--Green, #1fcc7b);
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 215px;
	top: -30px;
}

.title {
	color: #ffffff;
	text-align: center;

	/* Main shadow */
	font-family: "AA-GALAXY";
	font-size: 60px;
	font-style: normal;
	font-weight: 600;
	line-height: 0px;
	letter-spacing: -0.408px;
	z-index: 10;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	--s: 2.5px;
	text-shadow: 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000,
		0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000,
		0 4px var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
		0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
		0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
		0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
		0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
		0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
		0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
		0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
		0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
		0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
		0 0 var(--s) #000, 0 0 var(--s) #000;
}
.correctCircle {
	z-index: 10;
	position: absolute;
	right: 21%;
	top: 50%;
	transform: translate(-50%, -50%);
	/* cursor: pointer; */
	display: grid;
	justify-items: center;
}
.correctText {
	color: var(--Green, #1fcc7b);
	text-align: center;
	font-family: "Omnes Arabic";
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 26px; /* 108.333% */
	letter-spacing: -0.408px;
}
.incorrectCircle {
	z-index: 10;
	position: absolute;
	right: 23%;
	top: 50%;
	transform: translate(-50%, -50%);
	/* cursor: pointer; */
	display: grid;
	justify-items: center;
	margin-right: 20px;
}
.incorrectText {
	color: var(--Red, #ff5f84);
	text-align: center;
	font-family: "Omnes Arabic";
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 26px; /* 108.333% */
	letter-spacing: -0.408px;
}

.arr {
	z-index: 10;
	position: absolute;
	left: 4%;
	top: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}

/* F-2 */
.form_edit {
	padding-top: 200px;
	display: flex;
	justify-content: flex-end;
	margin-right: 400px;
	/* margin-left: 400px; */
}

.form {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: flex-end;
}

.qbox {
	/* padding: 5px; */
	/* text-align: center; */
	/* margin-top: 173px; */
	padding: 20px;
	/* position: absolute; */
	/* left: 50%;
	top: 50%;
	transform: translate(-50%, -50%); */
	/* width: 70%; */
}

.qbox1 {
	padding: 5px;
	/* text-align: center; */

	padding: 25px;
	/* position: absolute; */
	/* left: 50%;
	top: 50%;
	transform: translate(-50%, -50%); */
}

.question {
	direction: rtl;
	color: #000;
	text-align: right;
	font-family: "Omnes Arabic Semi Bold";
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 26px; /* 108.333% */
	letter-spacing: -0.408px;
}

.question p {
	line-height: 32px;
}

.answer {
	display: flex;
	gap: 10px;
	justify-content: flex-end;
	align-items: center;
	justify-items: center;
	color: #000;
	text-align: right;
	font-family: "Omnes Arabic Medium";
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 26px; /* 108.333% */
	letter-spacing: -0.408px;
	padding: 5px;
}

.label,
.correct,
.incorrect {
	appearance: none;
	width: 24px;
	height: 24px;
	outline: auto;
	accent-color: #ffd200;
	border-radius: 34px;
	border: 3px solid #000;
	background: #fffaed;
}

.label:checked {
	background: yellow;
}

.label:hover {
	cursor: pointer;
}

.correct:checked {
	background-color: #1fcc7b;
}

.correctChecked {
	background-color: lightgreen;
}

.incorrect:checked {
	background-color: #ff5f84;
}

.incorrectChecked {
	background-color: lightcoral;
}

.checked.correctChecked {
	background: green;
}

.checked.incorrectChecked {
	background: red;
}

.buttons {
	gap: 40px;
	padding: 20px;
	display: flex;
	justify-content: flex-end;
	width: 70%;
}

.btn1 {
	width: 112px;
	height: 48px;
	flex-shrink: 0;
	border-radius: 14px;
	border: 2px solid #000;
	background: #1fcc7b;

	/* Main shadow */
	box-shadow: 0px 4px 0px 0px #000;
}

.btn2 {
	width: 112px;
	height: 48px;
	flex-shrink: 0;
	border-radius: 14px;
	border: 2px solid #000;
	background: #f9295a;
	/* Main shadow */
	box-shadow: 0px 4px 0px 0px #000;
}

.btn_text {
	/* width: 224px;
	height: 22px; */
	flex-shrink: 0;
	color: #fff;
	text-align: center;
	font-family: "Omnes Arabic Semi Bold";
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: 22px; /* 68.75% */
	letter-spacing: -0.408px;
	/* width: 91px; */
	height: 22px;
	top: 13px;
	left: 10px;
	padding-top: 5px;
}

/* --------------------------------------------------------------------- */
@media only screen and (max-width: 480px) {
	.arr {
		width: 36px;
		height: 36px;
		left: 5%;
		margin-right: 3px;
	}

	.content p {
		font-size: 34px;
	}

	.certificate img {
		width: 250px;
		height: 200px;
	}

	.certificate p {
		font-size: 34px;
	}

	.buttons {
		gap: 20px;
	}
}

@media only screen and (max-width: 300px) {
	.arr {
		margin-left: 10px;
	}

	.title {
		font-size: 45px;
	}
}

@media only screen and (max-width: 1200px) {
	.form_edit {
		padding-top: 200px;
		/* width: 781px; */
		/* height: 1112px; */
		/* direction: rtl; */
		display: flex;
		justify-content: center;
		margin-right: 0;
		/* margin-left: 0; */
	}

	.form {
		align-items: center;
	}
}
