.GreenBtn,
.RedBtn {
  width: 216px;
  height: 60px;
  border-radius: 14px;
  border: 2px solid #000000;
  cursor: pointer;
}

.GreenBtn {
  background-color: #1fcc7b;
}

.RedBtn {
  background-color: #f9295a;
}
