* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --background-color: #00dcea;
  --window-background: #fffaed;
}

.PreLoader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: fade-out 2s forwards;
  animation: color-change 2s forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes color-change {
  0% {
    background-color: white;
  }
  50% {
    background-color: white;
  }
  100% {
    background-color: var(--background-color);
  }
}
