* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --background-color: #00dcea;
  --window-background: #fffaed;
}

@font-face {
  font-family: "Ala Typoo Medium";
  src: url("../../assets/AlaTypoo-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Omnes Arabic";
  src: url("../../assets/OMNES-ARABIC-REGULAR.ttf") format("truetype");
}

@font-face {
  font-family: "AA-GALAXY";
  src: url("../../assets/AA-GALAXY.otf") format("truetype");
}

.page {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.page.fade-out {
  opacity: 0;
}

.PreLoader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: fade-out 2s forwards;
  animation: color-change 2s forwards;

  .logo {
    position: relative;

    img {
      @media (max-width: 680px) {
        display: none;
      }
    }

    span {
      position: absolute;
      top: 14%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: var(--Yellow, #ffd200);
      text-align: center;
      text-shadow: 0px 4px 0px #000;
      -webkit-text-stroke-color: #000;
      font-family: "Ala Typoo Medium";
      font-size: 200px;
      font-style: normal;
      font-weight: 700;
      line-height: 22px;
      letter-spacing: -0.408px;

      @media (max-width: 680px) {
        font-size: 128px;
      }
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes color-change {
    0% {
      background-color: white;
    }
    70% {
      background-color: white;
    }
    100% {
      background-color: var(--background-color);
    }
  }
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
