.Age {
  height: 100%;

  @media (max-width: 680px) {
    height: 86%;
    margin-top: 100px;
  }

  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    position: relative;

    p {
      position: absolute;
      color: #fff;
      text-align: center;
      text-shadow: 0px 4px 0px #000;
      -webkit-text-stroke-width: 2;
      -webkit-text-stroke-color: #000;
      font-family: AA-GALAXY;
      font-size: 60px;
      font-style: normal;
      font-weight: 700;
      line-height: 22px;
      letter-spacing: -0.408px;

      @media (max-width: 680px) {
        font-size: 48px;
      }
    }

    .big {
      @media (max-width: 680px) {
        display: none;
      }
    }

    .small {
      @media (min-width: 680px) {
        display: none;
      }
    }
  }

  &__bottom {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;

    @media (max-width: 680px) {
      margin-top: 40px;
      flex-direction: column;
    }
  }
}
