.FForm {
  padding-top: 30px;

  .title {
    color: #fff;
    text-align: center;
    font-family: AA-GALAXY;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.408px;
    margin-bottom: 14px;
    --s: 2.5px;
    text-shadow: 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000,
      0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000,
      0 4px var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000;

    @media (max-width: 680px) {
      font-size: 48px;
    }
  }

  form {
    div {
      position: relative;
      display: flex;
      justify-content: center;

      label {
        position: absolute;
        right: 100px;
        bottom: 14px;
        color: gray;
        font-size: 18px;
        transition: 0.5s;
      }

      input {
        width: 68%;
        text-align: right;
        font-family: "Omnes Arabic";
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: -0.408px;
        background: var(--Background, #fffaed);
        margin: 10px 0;
        border-bottom: 1px solid black;
        border-top: none;
        border-left: none;
        border-right: none;

        &:placeholder-shown {
          color: var(--Gray-mid, #888);
        }

        &:focus {
          border-bottom: 1px solid black !important;
          border-top: none !important;
          border-left: none !important;
          border-right: none !important;
        }
      }
    }
  }

  .another {
    color: #fff;
    text-align: center;
    font-family: "Omnes Arabic";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.408px;
    margin-top: 24px;
    --s: 1.5px;
    text-shadow: 0 2px var(--s) #000, 0 2px var(--s) #000, 0 2px var(--s) #000,
      0 2px var(--s) #000, 0 2px var(--s) #000, 0 2px var(--s) #000,
      0 2px var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000;

    @media (max-width: 680px) {
      font-size: 20px;
    }

    button {
      border: none;
      background-color: transparent;
      color: var(--Green, #1fcc7b);
      --s: 1.5px;
      text-shadow: 0 2px var(--s) #000, 0 2px var(--s) #000, 0 2px var(--s) #000,
        0 2px var(--s) #000, 0 2px var(--s) #000, 0 2px var(--s) #000,
        0 2px var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
        0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
        0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
        0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
        0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
        0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
        0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
        0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
        0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
        0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
        0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
        0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
        0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
        0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000;
    }
  }

  .or {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 29px;
    margin-bottom: 29px;
    position: relative;

    .line {
      height: 1px;
      width: 67%;
      background-color: black;
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: var(--Gray-mid, #888);
      text-align: center;
      font-family: "Omnes Arabic";
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: -0.408px;
      background-color: var(--window-background);
      width: 184px;

      @media (max-width: 680px) {
        font-size: 16px;
        width: 132px;
      }
    }
  }

  .btns {
    display: flex;
    justify-content: center;
    margin-top: 22px;
    gap: 10px;

    img {
      margin-right: 4px;
    }
  }

  input:focus {
    outline: none;
  }
}
