.Forgot {
  padding-top: 50px;

  height: 100%;

  @media (max-width: 680px) {
    height: 86%;
    margin-top: 30px;
  }

  .title {
    color: #fff;
    text-align: center;
    font-family: AA-GALAXY;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.408px;

    --s: 2.5px;
    text-shadow: 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000,
      0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000,
      0 4px var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000;

    @media (max-width: 680px) {
      font-size: 48px;
    }
  }

  .shape {
    position: relative;
    margin-top: 36px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  p:first-of-type {
    padding: 0 70px;
    font-family: Omnes Arabic;
    font-size: 28px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.40799999237060547px;
    text-align: center;

    @media (max-width: 680px) {
      font-size: 28px;
    }
  }

  p:last-of-type {
    font-family: Omnes Arabic;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.40799999237060547px;
    text-align: center;

    @media (max-width: 680px) {
      font-size: 16px;
    }
  }

  form {
    margin-top: 14px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;

    label {
      position: absolute;
      right: 62px;
      bottom: 24px;
      color: gray;
      font-size: 18px;
      transition: 0.5s;
    }

    input {
      color: var(--Gray-mid, #888);
      text-align: right;
      font-family: "Omnes Arabic";
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: -0.408px;
      width: 80%;
      background: var(--Background, #fffaed);
      margin: 10px 0 20px 0;
      border-bottom: 1px solid black;
      border-top: none;
      border-left: none;
      border-right: none;

      &:placeholder-shown {
        color: var(--Gray-mid, #888);
      }

      &:focus {
        border-bottom: 1px solid black !important;
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
      }
    }
  }

  input:focus {
    outline: none;
  }
}
