.LogIn {
  text-align: center;
  padding-top: 26px;

  .title {
    margin-top: 14px;
    font-family: "AA-GALAXY";
    font-size: 56px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.40799999237060547px;
    text-align: center;
    color: #fff;
    --s: 2.5px;
    text-shadow: 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000,
      0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000,
      0 4px var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000;
  }

  .shape {
    position: relative;
    margin-top: 36px;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  form {
    div {
      position: relative;

      label {
        position: absolute;
        right: 96px;
        bottom: 16px;
        color: gray;
        font-size: 16px;
        transition: 0.5s;
      }

      input {
        width: 68%;
        text-align: right;
        font-family: "Omnes Arabic";
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: -0.408px;
        background: var(--Background, #fffaed);
        margin: 10px 0;
        border-bottom: 1px solid black;
        border-top: none;
        border-left: none;
        border-right: none;
      }
    }
  }

  .password {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    .forget {
      text-align: left;
      width: 66%;
      margin-bottom: 10px;

      button {
        color: var(--Red, #f9295a);
        font-family: "Omnes Arabic";
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px; /* 110% */
        letter-spacing: -0.408px;
        border: none;
        background-color: transparent;
      }
    }
  }

  .another {
    color: #fff;
    text-align: center;
    -webkit-text-stroke-color: #000;
    font-family: "Omnes Arabic";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.408px;
    margin-top: 22px;
    --s: 1.5px;
    text-shadow: 0 2px var(--s) #000, 0 2px var(--s) #000, 0 2px var(--s) #000,
      0 2px var(--s) #000, 0 2px var(--s) #000, 0 2px var(--s) #000,
      0 2px var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000;

    @media (max-width: 680px) {
      font-size: 20px;
    }

    button {
      border: none;
      background-color: transparent;
      color: var(--Green, #1fcc7b);
      --s: 1.5px;
      text-shadow: 0 2px var(--s) #000, 0 2px var(--s) #000, 0 2px var(--s) #000,
        0 2px var(--s) #000, 0 2px var(--s) #000, 0 2px var(--s) #000,
        0 2px var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
        0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
        0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
        0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
        0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
        0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
        0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
        0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
        0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
        0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
        0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
        0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
        0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
        0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000;
    }
  }

  .or {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 34px;
    position: relative;

    .line {
      height: 1px;
      width: 67%;
      background-color: black;
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: var(--Gray-mid, #888);
      text-align: center;
      font-family: "Omnes Arabic";
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: -0.408px;
      background-color: var(--window-background);
      width: 136px;

      @media (max-width: 680px) {
        font-size: 16px;
        width: 132px;
      }
    }
  }

  .btns {
    display: flex;
    justify-content: center;
    margin-top: 28px;
    gap: 16px;

    button {
      @media (max-width: 680px) {
        font-size: 25px !important;
        width: 140px !important;
      }
    }

    img {
      margin-right: 10px;
    }
  }

  input:focus {
    outline: none;
  }
}
