.Reassign {
  padding-top: 50px;
  text-align: center;

  @media (max-width: 680px) {
    height: 86%;
    margin-top: 60px;
  }

  .title {
    color: #fff;
    text-align: center;
    font-family: AA-GALAXY;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.408px;

    --s: 2.5px;
    text-shadow: 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000,
      0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000,
      0 4px var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000;

    @media (max-width: 680px) {
      font-size: 48px;
    }
  }

  .shape {
    position: relative;
    margin-top: 36px;
    display: flex;
    justify-content: center;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  form {
    div {
      position: relative;

      label {
        position: absolute;
        right: 70px;
        bottom: 14px;
        color: gray;
        font-size: 18px;
        transition: 0.5s;
      }
      input {
        width: 80%;
        text-align: right;
        font-family: "Omnes Arabic";
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: -0.408px;
        background: var(--Background, #fffaed);
        margin: 10px 0;
        border-bottom: 1px solid black;
        border-top: none;
        border-left: none;
        border-right: none;

        &:placeholder-shown {
          color: var(--Gray-mid, #888);
        }

        &:focus {
          border-bottom: 1px solid black !important;
          border-top: none !important;
          border-left: none !important;
          border-right: none !important;
        }
      }

      button {
        margin-top: 20px;
      }
    }

    input:focus {
      outline: none;
    }
  }
}
