.Teen {
  text-align: center;
  padding-top: 46px;

  @media (max-width: 680px) {
    height: 86%;
    margin-top: 100px;
  }

  .title {
    color: #fff;
    text-align: center;
    font-family: AA-GALAXY;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.408px;
    --s: 2.5px;
    text-shadow: 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000,
      0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000,
      0 4px var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000,
      0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000;

    @media (max-width: 680px) {
      font-size: 48px;
    }
  }

  &__shape {
    margin-top: 65px;
    position: relative;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  p {
    color: #000;
    text-align: center;
    font-family: "Omnes Arabic";
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.408px;
    margin: 46px 0;

    @media (max-width: 680px) {
      font-size: 24px;
    }
  }

  .big {
    @media (max-width: 680px) {
      display: none;
    }
  }

  .small {
    @media (min-width: 680px) {
      display: none;
    }
  }
}
