* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --background-color: #00dcea;
  --window-background: #fffaed;
}

@font-face {
  font-family: "Ala Typoo Medium";
  src: url("../../../assets/AlaTypoo-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Omnes Arabic Medium";
  src: url("../../../assets/OMNES-ARABIC-MEDIUM.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Omnes Arabic Semi Bold";
  src: url("../../../assets/OMNES-ARABIC-SEMI-BOLD.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Omnes Arabic Bold";
  src: url("../../../assets/OMNES-ARABIC-BOLD.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Omnes Arabic";
  src: url("../../../assets/OMNES-ARABIC-MEDIUM.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Omnes Arabic";
  src: url("../../../assets/OMNES-ARABIC-SEMI-BOLD.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Omnes Arabic";
  src: url("../../../assets/OMNES-ARABIC-BOLD.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "AA-GALAXY";
  src: url("../../../assets/AA-GALAXY.otf") format("truetype");
}
.page {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.page.fade-out {
  opacity: 0;
}

.PreLoader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: fade-out 2s forwards;
  animation: color-change 2s forwards;
}
.PreLoader .logo {
  position: relative;
}
@media (max-width: 680px) {
  .PreLoader .logo img {
    display: none;
  }
}
.PreLoader .logo span {
  position: absolute;
  top: 14%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--Yellow, #ffd200);
  text-align: center;
  font-family: "Ala Typoo Medium";
  font-size: 200px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.408px;
  text-shadow: #000000;
  --s: 2.5px;
  text-shadow: 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000;
}
@media (max-width: 680px) {
  .PreLoader .logo span {
    font-size: 128px;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes color-change {
  0% {
    background-color: white;
  }
  70% {
    background-color: white;
  }
  100% {
    background-color: var(--background-color);
  }
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.Age {
  height: 100%;
}
@media (max-width: 680px) {
  .Age {
    height: 86%;
    margin-top: 100px;
  }
}
.Age__top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  position: relative;
}
.Age__top p {
  position: absolute;
  color: #fff;
  text-align: center;
  font-family: AA-GALAXY;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.408px;
  --s: 2.5px;
  text-shadow: 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000;
}
@media (max-width: 680px) {
  .Age__top p {
    font-size: 48px;
  }
}
@media (max-width: 680px) {
  .Age__top .big {
    display: none;
  }
}
@media (min-width: 680px) {
  .Age__top .small {
    display: none;
  }
}
.Age__bottom {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
@media (max-width: 680px) {
  .Age__bottom {
    margin-top: 40px;
    flex-direction: column;
  }
}

.Wrapper {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
@media (max-width: 680px) {
  .Wrapper {
    background-color: var(--window-background);
  }
}
.Wrapper__window {
  border: 4px solid #000000;
  background-color: var(--window-background);
  width: 580px;
  border-radius: 20px;
  animation: fade-in 1s ease-in-out;
  height: 684px;
}
@media (max-width: 680px) {
  .Wrapper__window {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.GreenBtn,
.RedBtn {
  width: 190px;
  height: 48px;
  border-radius: 14px;
  border: 2px solid #000000;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-family: "Omnes Arabic";
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.408px;
  box-shadow: 0px 4px 0px 0px #000;
}

.social .GreenBtn,
.social .RedBtn {
  font-weight: 500;
}

.Age .GreenBtn,
.Age .RedBtn {
  color: #fff;
  text-align: center;
  font-family: "Omnes Arabic";
  font-size: 40px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: -0.408px;
}

.GreenBtn {
  background-color: #1fcc7b;
}

.RedBtn {
  background-color: #ff5f84;
}

.long {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  border: 2px solid #000;
  background: var(--Green, #1fcc7b);
  box-shadow: 0px 4px 0px 0px #000;
  color: #fff;
  text-align: center;
  font-family: "Omnes Arabic";
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.408px;
  width: 394px;
  height: 48px;
  flex-shrink: 0;
}
@media (max-width: 680px) {
  .long {
    width: 280px;
  }
}

.Teen {
  text-align: center;
  padding-top: 46px;
}
@media (max-width: 680px) {
  .Teen {
    height: 86%;
    margin-top: 100px;
  }
}
.Teen .title {
  color: #fff;
  text-align: center;
  font-family: AA-GALAXY;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.408px;
  --s: 2.5px;
  text-shadow: 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000;
}
@media (max-width: 680px) {
  .Teen .title {
    font-size: 48px;
  }
}
.Teen__shape {
  margin-top: 65px;
  position: relative;
}
.Teen__shape img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Teen p {
  color: #000;
  text-align: center;
  font-family: "Omnes Arabic";
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.408px;
  margin: 46px 0;
}
@media (max-width: 680px) {
  .Teen p {
    font-size: 24px;
  }
}
@media (max-width: 680px) {
  .Teen .big {
    display: none;
  }
}
@media (min-width: 680px) {
  .Teen .small {
    display: none;
  }
}

.LogIn {
  text-align: center;
  padding-top: 26px;
}
.LogIn .title {
  margin-top: 14px;
  font-family: "AA-GALAXY";
  font-size: 56px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.4079999924px;
  text-align: center;
  color: #fff;
  --s: 2.5px;
  text-shadow: 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000;
}
.LogIn .shape {
  position: relative;
  margin-top: 36px;
}
.LogIn .shape img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.LogIn form div {
  position: relative;
}
.LogIn form div label {
  position: absolute;
  right: 96px;
  bottom: 16px;
  color: gray;
  font-size: 16px;
  transition: 0.5s;
}
.LogIn form div input {
  width: 68%;
  text-align: right;
  font-family: "Omnes Arabic";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.408px;
  background: var(--Background, #fffaed);
  margin: 10px 0;
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
}
.LogIn .password {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.LogIn .password .forget {
  text-align: left;
  width: 66%;
  margin-bottom: 10px;
}
.LogIn .password .forget button {
  color: var(--Red, #f9295a);
  font-family: "Omnes Arabic";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 110% */
  letter-spacing: -0.408px;
  border: none;
  background-color: transparent;
}
.LogIn .another {
  color: #fff;
  text-align: center;
  -webkit-text-stroke-color: #000;
  font-family: "Omnes Arabic";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.408px;
  margin-top: 22px;
  --s: 1.5px;
  text-shadow: 0 2px var(--s) #000, 0 2px var(--s) #000, 0 2px var(--s) #000, 0 2px var(--s) #000, 0 2px var(--s) #000, 0 2px var(--s) #000, 0 2px var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000;
}
@media (max-width: 680px) {
  .LogIn .another {
    font-size: 20px;
  }
}
.LogIn .another button {
  border: none;
  background-color: transparent;
  color: var(--Green, #1fcc7b);
  --s: 1.5px;
  text-shadow: 0 2px var(--s) #000, 0 2px var(--s) #000, 0 2px var(--s) #000, 0 2px var(--s) #000, 0 2px var(--s) #000, 0 2px var(--s) #000, 0 2px var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000;
}
.LogIn .or {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 34px;
  position: relative;
}
.LogIn .or .line {
  height: 1px;
  width: 67%;
  background-color: black;
}
.LogIn .or span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--Gray-mid, #888);
  text-align: center;
  font-family: "Omnes Arabic";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.408px;
  background-color: var(--window-background);
  width: 136px;
}
@media (max-width: 680px) {
  .LogIn .or span {
    font-size: 16px;
    width: 132px;
  }
}
.LogIn .btns {
  display: flex;
  justify-content: center;
  margin-top: 28px;
  gap: 16px;
}
@media (max-width: 680px) {
  .LogIn .btns button {
    font-size: 25px !important;
    width: 140px !important;
  }
}
.LogIn .btns img {
  margin-right: 10px;
}
.LogIn input:focus {
  outline: none;
}

.Forgot {
  padding-top: 50px;
  height: 100%;
}
@media (max-width: 680px) {
  .Forgot {
    height: 86%;
    margin-top: 30px;
  }
}
.Forgot .title {
  color: #fff;
  text-align: center;
  font-family: AA-GALAXY;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.408px;
  --s: 2.5px;
  text-shadow: 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000;
}
@media (max-width: 680px) {
  .Forgot .title {
    font-size: 48px;
  }
}
.Forgot .shape {
  position: relative;
  margin-top: 36px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.Forgot .shape img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Forgot p:first-of-type {
  padding: 0 70px;
  font-family: Omnes Arabic;
  font-size: 28px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.4079999924px;
  text-align: center;
}
@media (max-width: 680px) {
  .Forgot p:first-of-type {
    font-size: 28px;
  }
}
.Forgot p:last-of-type {
  font-family: Omnes Arabic;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.4079999924px;
  text-align: center;
}
@media (max-width: 680px) {
  .Forgot p:last-of-type {
    font-size: 16px;
  }
}
.Forgot form {
  margin-top: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.Forgot form label {
  position: absolute;
  right: 62px;
  bottom: 24px;
  color: gray;
  font-size: 18px;
  transition: 0.5s;
}
.Forgot form input {
  color: var(--Gray-mid, #888);
  text-align: right;
  font-family: "Omnes Arabic";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.408px;
  width: 80%;
  background: var(--Background, #fffaed);
  margin: 10px 0 20px 0;
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
}
.Forgot form input:-moz-placeholder-shown {
  color: var(--Gray-mid, #888);
}
.Forgot form input:placeholder-shown {
  color: var(--Gray-mid, #888);
}
.Forgot form input:focus {
  border-bottom: 1px solid black !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}
.Forgot input:focus {
  outline: none;
}

.Check {
  padding-top: 50px;
}
@media (max-width: 680px) {
  .Check {
    height: 86%;
    margin-top: 30px;
  }
}
.Check .title {
  color: #fff;
  text-align: center;
  font-family: AA-GALAXY;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.408px;
  --s: 2.5px;
  text-shadow: 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000;
}
@media (max-width: 680px) {
  .Check .title {
    font-size: 48px;
  }
}
.Check .shape {
  position: relative;
  margin-top: 36px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.Check .shape img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Check p:first-of-type {
  font-family: Omnes Arabic;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.4079999924px;
  text-align: center;
}
.Check p:last-of-type {
  font-family: Omnes Arabic;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.4079999924px;
  text-align: center;
}
.Check form {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.Check form .another {
  font-family: Omnes Arabic;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.4079999924px;
  text-align: center;
  direction: rtl;
}
.Check form .another button {
  color: #f9295a;
  margin: 5px 6px 10px;
  border: none;
  background-color: transparent;
}
.Check form label {
  position: absolute;
  right: 62px;
  bottom: 122px;
  color: gray;
  font-size: 18px;
  transition: 0.5s;
}
.Check form input {
  text-align: center;
  font-family: "Omnes Arabic";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.408px;
  width: 80%;
  background: var(--Background, #fffaed);
  margin: 10px 0 20px 0;
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
}
.Check form input:-moz-placeholder-shown {
  color: var(--Gray-mid, #888);
}
.Check form input:placeholder-shown {
  color: var(--Gray-mid, #888);
}
.Check form input:focus {
  border-bottom: 1px solid black !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}
.Check input:focus {
  outline: none;
}

.Reassign {
  padding-top: 50px;
  text-align: center;
}
@media (max-width: 680px) {
  .Reassign {
    height: 86%;
    margin-top: 60px;
  }
}
.Reassign .title {
  color: #fff;
  text-align: center;
  font-family: AA-GALAXY;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.408px;
  --s: 2.5px;
  text-shadow: 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000;
}
@media (max-width: 680px) {
  .Reassign .title {
    font-size: 48px;
  }
}
.Reassign .shape {
  position: relative;
  margin-top: 36px;
  display: flex;
  justify-content: center;
}
.Reassign .shape img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Reassign form div {
  position: relative;
}
.Reassign form div label {
  position: absolute;
  right: 70px;
  bottom: 14px;
  color: gray;
  font-size: 18px;
  transition: 0.5s;
}
.Reassign form div input {
  width: 80%;
  text-align: right;
  font-family: "Omnes Arabic";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.408px;
  background: var(--Background, #fffaed);
  margin: 10px 0;
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
}
.Reassign form div input:-moz-placeholder-shown {
  color: var(--Gray-mid, #888);
}
.Reassign form div input:placeholder-shown {
  color: var(--Gray-mid, #888);
}
.Reassign form div input:focus {
  border-bottom: 1px solid black !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}
.Reassign form div button {
  margin-top: 20px;
}
.Reassign form input:focus {
  outline: none;
}

.Parents {
  text-align: center;
  padding-top: 26px;
}
@media (max-width: 680px) {
  .Parents {
    height: 86%;
    margin-top: 100px;
  }
}
.Parents .shape {
  position: relative;
  margin-bottom: 20px;
}
.Parents .shape p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  font-family: AA-GALAXY;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 88px;
  letter-spacing: 1px;
  --s: 2.5px;
  text-shadow: 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000;
}
@media (max-width: 680px) {
  .Parents .shape p {
    font-size: 48px;
  }
}
.Parents .another {
  color: #fff;
  text-align: center;
  font-family: "Omnes Arabic";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.408px;
  --s: 1.5px;
  text-shadow: 0 2px var(--s) #000, 0 2px var(--s) #000, 0 2px var(--s) #000, 0 2px var(--s) #000, 0 2px var(--s) #000, 0 2px var(--s) #000, 0 2px var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000;
}
.Parents .another button {
  background-color: transparent;
  border: none;
  color: var(--Green, #1fcc7b);
  --s: 1.5px;
  text-shadow: 0 2px var(--s) #000, 0 2px var(--s) #000, 0 2px var(--s) #000, 0 2px var(--s) #000, 0 2px var(--s) #000, 0 2px var(--s) #000, 0 2px var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000;
}
@media (max-width: 680px) {
  .Parents .big {
    display: none;
  }
}
@media (min-width: 680px) {
  .Parents .small {
    display: none;
  }
}

.Welcome {
  direction: rtl;
  padding-top: 40px;
  text-align: center;
}
@media (max-width: 680px) {
  .Welcome {
    padding: 66px 16px 0;
  }
}
.Welcome .title {
  color: #fff;
  text-align: center;
  font-family: AA-GALAXY;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.408px;
  margin: 0 0 50px 0;
  --s: 2.5px;
  text-shadow: 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000;
}
@media (max-width: 680px) {
  .Welcome .title {
    font-size: 48px;
  }
}
.Welcome p {
  color: #000;
  text-align: center;
  font-family: "Omnes Arabic";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px;
  letter-spacing: -0.408px;
}
.Welcome .button {
  margin-top: 20px;
}

.FForm {
  padding-top: 30px;
}
.FForm .title {
  color: #fff;
  text-align: center;
  font-family: AA-GALAXY;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.408px;
  margin-bottom: 14px;
  --s: 2.5px;
  text-shadow: 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 4px var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000;
}
@media (max-width: 680px) {
  .FForm .title {
    font-size: 48px;
  }
}
.FForm form div {
  position: relative;
  display: flex;
  justify-content: center;
}
.FForm form div label {
  position: absolute;
  right: 100px;
  bottom: 14px;
  color: gray;
  font-size: 18px;
  transition: 0.5s;
}
.FForm form div input {
  width: 68%;
  text-align: right;
  font-family: "Omnes Arabic";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.408px;
  background: var(--Background, #fffaed);
  margin: 10px 0;
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
}
.FForm form div input:-moz-placeholder-shown {
  color: var(--Gray-mid, #888);
}
.FForm form div input:placeholder-shown {
  color: var(--Gray-mid, #888);
}
.FForm form div input:focus {
  border-bottom: 1px solid black !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}
.FForm .another {
  color: #fff;
  text-align: center;
  font-family: "Omnes Arabic";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.408px;
  margin-top: 24px;
  --s: 1.5px;
  text-shadow: 0 2px var(--s) #000, 0 2px var(--s) #000, 0 2px var(--s) #000, 0 2px var(--s) #000, 0 2px var(--s) #000, 0 2px var(--s) #000, 0 2px var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000;
}
@media (max-width: 680px) {
  .FForm .another {
    font-size: 20px;
  }
}
.FForm .another button {
  border: none;
  background-color: transparent;
  color: var(--Green, #1fcc7b);
  --s: 1.5px;
  text-shadow: 0 2px var(--s) #000, 0 2px var(--s) #000, 0 2px var(--s) #000, 0 2px var(--s) #000, 0 2px var(--s) #000, 0 2px var(--s) #000, 0 2px var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000, 0 0 var(--s) #000;
}
.FForm .or {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 29px;
  margin-bottom: 29px;
  position: relative;
}
.FForm .or .line {
  height: 1px;
  width: 67%;
  background-color: black;
}
.FForm .or span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--Gray-mid, #888);
  text-align: center;
  font-family: "Omnes Arabic";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.408px;
  background-color: var(--window-background);
  width: 184px;
}
@media (max-width: 680px) {
  .FForm .or span {
    font-size: 16px;
    width: 132px;
  }
}
.FForm .btns {
  display: flex;
  justify-content: center;
  margin-top: 22px;
  gap: 10px;
}
.FForm .btns img {
  margin-right: 4px;
}
.FForm input:focus {
  outline: none;
}

.Dashboard__Sidebar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 62px;
  background-color: #ffd200;
  color: #fff;
  text-align: center;
  font-family: AA-GALAXY;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.408px;
  border-left: 1px solid white;
}
.Dashboard__Sidebar__video > div, .Dashboard__Sidebar__essay > div, .Dashboard__Sidebar__test > div {
  color: #000;
  text-align: center;
  font-family: "Omnes Arabic";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.408px;
  text-align: justify;
  margin-right: 10px;
  margin-bottom: 14px;
}
.Dashboard__Sidebar__video > ul, .Dashboard__Sidebar__essay > ul, .Dashboard__Sidebar__test > ul {
  list-style: none;
  padding: 0;
  transition: all 0.3s;
}
.Dashboard__Sidebar__video > ul li, .Dashboard__Sidebar__essay > ul li, .Dashboard__Sidebar__test > ul li {
  margin-bottom: 20px;
}
.Dashboard__Sidebar__video > ul li a, .Dashboard__Sidebar__essay > ul li a, .Dashboard__Sidebar__test > ul li a {
  text-decoration: none;
  padding: 25px;
}
.Dashboard__Sidebar__video > ul li a.active, .Dashboard__Sidebar__essay > ul li a.active, .Dashboard__Sidebar__test > ul li a.active {
  background-color: #ffd200;
}
.Dashboard__Sidebar__video > ul li span, .Dashboard__Sidebar__essay > ul li span, .Dashboard__Sidebar__test > ul li span {
  color: #000;
  text-align: center;
  font-family: "Omnes Arabic";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.408px;
}
.Dashboard__Sidebar__video > ul li img, .Dashboard__Sidebar__essay > ul li img, .Dashboard__Sidebar__test > ul li img {
  margin-left: 10px;
}

.Dashboard__header > div {
  color: var(--stroke, white);
  text-align: right;
  font-family: "Omnes Arabic";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.408px;
  margin-right: 10px;
}/*# sourceMappingURL=main.css.map */